<div id="<%= dom_id credential_status %>">
  <p>
    <strong>Status:</strong>
    <%= credential_status.status %>
  </p>

  <p>
    <strong>Credential:</strong>
    <%= credential_status.credential_id %>
  </p>

</div>
