<h1>Editing credential status</h1>

<%= render "form", credential_status: @credential_status %>

<br>

<div>
  <%= link_to "Show this credential status", @credential_status %> |
  <%= link_to "Back to credential statuses", credential_statuses_path %>
</div>
